body {
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease;

  &.dark {
    --bg: #3a3a3a;
    --text: #fff;

    a {
      color: #fff;
    }
  }

  &.white {
    --bg: #fff;
    --text: #000;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}